# Windows
Desktop.ini

# Temp/cache
**/temp.dat
**/dllcache/
**/SonLVL.log

# Build outputs
**/s1*.bin
**/*.lst

# Test files
test.*

# IntelliJ / JetBrains
**/.idea/
*.iml

sonic.lst
errors.txt
s1built.bin
s1built.prev.bin