# Windows
Desktop.ini

# Temp/cache
**/temp.dat
**/dllcache/
**/SonLVL.log
**/SonPLN.log
**/S1SSEdit.undo

# Build outputs
**/s1*.bin
**/*.lst

# Test files
test.*

# IntelliJ / JetBrains
**/.idea/
*.iml

# Misc. compiler output.
sonic.lst
sonic.log
errors.txt
sonic.p
nom.log

# Built ROMs.
s1built.bin
s1built.prev.bin

# Automatically-generated (D)PCM data.
sound/dac/dpcm/generated/*.inc
sound/dac/dpcm/generated/*.dpcm
sound/dac/dpcm/generated/hashes.lua
sound/dac/pcm/generated/*.inc
sound/dac/pcm/generated/*.pcm
sound/dac/pcm/generated/hashes.lua
